<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
        <string>Nicolas.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
        <string>Created by N. YING</string>
	<key>CFBundleSignature</key>
        <string>Nicolas.local</string>
	<key>CFBundleExecutable</key>
        <string>Helloworld</string>
	<key>CFBundleIdentifier</key>
	<string>S.N.Helloworld</string>
</dict>
</plist>
